html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  /* text-align: left; */
  /* font-weight: normal; */
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: monospace;

  background-color: #edf2f7;
}

img {
  max-width: 100%;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.wrap {
  width: 90%;
  /* max-width: 960px; */
  margin: 250px auto;
  padding: 5% 0;
  margin-bottom: 5em;
}

.projTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.projTitle span {
  font-family: "Droid Serif", serif;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}

.heading {
  padding: 1em 0;
  border-bottom: 1px solid #d0d0d0;
  vertical-align: baseline;
}
.heading h1 {
  font-family: "Droid Serif", serif;
  font-size: 2em;
  float: left;
  margin-top: -4px;
}
.heading a.continue:link,
.heading a.continue:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  font-size: 0.75em;
  padding: 1em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.heading a.continue:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.heading a.continue:hover,
.heading a.continue:focus,
.heading a.continue:active {
  background: #f69679;
}
.heading a.continue:hover:after,
.heading a.continue:focus:after,
.heading a.continue:active:after {
  right: -10px;
}

.tableHead {
  display: table;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
}
.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}
.tableHead li.prodHeader {
  text-align: left;
}
/*  */
.cart {
  padding: 1em 0;
  width: 100%;
  overflow-x: scroll;
}

.cart-table {
  border-collapse: collapse;
  /* display: block; */
  width: 100%;
  border: 1px solid #cbd5e0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  /* height: 300px; */
}

.cart-table thead {
  background-color: #f86b6b;
  /* padding: 40px; */
  color: #fff;
  border-radius: 10px;
}

.cart-table thead tr {
  height: 45px;
  width: 130%;
}

.cart-table thead tr th:last-child {
  color: rgb(255, 255, 255);
}

.cart-table .tbody {
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  height: 425px;
}
#type-product {
  width: 150px;
  height: 50px;
  text-align: center;
  outline: none;
  border: 1px solid #ff000d;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
}
.cart-table .tbody td img {
  border-radius: 50px;
}
.cart-table tbody tr td {
  height: 50px;
  text-align: center;
  font-size: 20px;
}

.cart-table tbody tr td i {
  color: rgb(235, 87, 87);
}

.cart-table tbody tr td input {
  width: 40px;
  border-radius: 5px;
}

.table-foot td:first-child {
  background-color: #f86b6b;
  color: #fff;
}
.deleted-btn {
  cursor: pointer;
}
.table-foot td:last-child {
  color: #f86b6b;
  font-size: 20px;
}
/*  */
.title-hoa-don {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
}

.hoa-don {
  width: 100%;
  display: flex;
}

.hoa-don .thanh-toan {
  width: 50%;
  height: auto;
  background-color: #fff;
  padding-left: 40px;
  margin-right: 40px;
  /* padding: auto; */
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #cbd5e0;
}

.hoa-don .thanh-toan .input-items {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.hoa-don .thanh-toan .input-items:last-child {
  height: 80px;
}

.hoa-don .thanh-toan .input-items textarea {
  width: 90%;
  height: 80px;
  /* height: 40px; */
  outline: none;
  margin-bottom: 20px;
}

.hoa-don .thanh-toan .input-items input {
  width: 90%;
  height: 40px;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #cdd4d9;
  border-radius: 3px;
  outline: #82ca9c;
}

.hoa-don .thanh-toan .input-items select {
  width: 90%;
  height: 40px;
}

.hoa-don .sale-hoadon {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  /* background-color: #fff; */
}

.sale-hoadon .code-sale {
  width: 100%;
  height: max-content;
  background-color: #fff;
  border: 1px solid #cbd5e0;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sale-hoadon .code-sale h2 {
  margin-left: 15px;
}

.sale-hoadon .code-sale input {
  width: 70%;
  height: 40px;
  outline: none;
  padding: 10px;
  margin-left: 15px;
  /* margin-left: 20px; */
}

.sale-hoadon .code-sale button {
  width: 20%;
  height: 40px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  outline: none;
}

.sale-hoadon .code-sale button:hover {
  background: #82ca9c;
  color: #777;
  box-shadow: 0 0 10px #82ca9c;
}

.sale-hoadon .tong-tien {
  /* margin-top: -50px; */
  width: 100%;
  background-color: #fff;
  padding: 10px 15px;
  border: 1px solid #cbd5e0;
  border-radius: 10px;
}

.sale-hoadon .tong-tien .table-price {
  width: 100%;
  height: auto;
  padding: 10px;
  /* margin-top: 50px; */
}

.sale-hoadon .tong-tien .table-price tr {
  height: 50px;
}

.sale-hoadon .tong-tien .table-price tr th {
  text-align: left;
  font-size: 18px;
}
.sale-hoadon .tong-tien .table-price tr td {
  text-align: right;
  margin-right: 30px;
  font-size: 18px;
}

.sale-hoadon .tong-tien .table-price tr:last-child {
  border-top: 2px solid #777;
}

.sale-hoadon .tong-tien .btn-thanh-toan {
  display: flex;
  justify-content: right;
}

.sale-hoadon .tong-tien .btn-thanh-toan .btn-deliver {
  width: 120px;
  height: 40px;
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 129, 129);
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.sale-hoadon .code-sale .coupon-apply {
  width: 80%;
  height: 40px;
  border: 1px solid #ff3c00;
  margin: 10px auto;
  color: #ff000d;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 900px) {
  .cart .cart-table {
    width: 200%;
  }
  .cart-table::-webkit-scrollbar {
    display: none;
  }
  .hoa-don {
    flex-wrap: wrap;
  }
  .hoa-don .thanh-toan {
    width: 90%;
    margin: 10px auto;
  }

  .hoa-don .sale-hoadon {
    width: 100%;
    margin: 10px auto;
  }

  .hoa-don .tong-tien {
    width: 100%;
    margin: 10px auto;
  }
}

@media (max-width: 855px) {
  .wrap {
    margin-top: 30%;
  }
}

@media (max-width: 677px) {
  .wrap {
    margin-top: 55%;
  }
}

@media (max-width: 555px) {
  .wrap {
    margin-top: 10%;
  }
}
